<table data-game_id="<%= @new_game.id %>" class="racer_table">
  <tr data-player_id="<%= @player_1.id %>"id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class=""></td>
  </tr>
  <tr data-player_id="<%= @player_2.id %>" id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

